
#pin2ucf - Mon Sep 27 16:08:49 2021
#The following constraints were newly added
NET "adcQ3_p<2>" LOC = Y2;
NET "adcI2_n<3>" LOC = AC19;
NET "adcQH1_p<1>" LOC = W9;
NET "adcQ2_p<5>" LOC = AD5;
NET "adcI1_n<6>" LOC = AD14;
NET "adcI2Rst_n" LOC = AF20;
NET "adcQ3_p<3>" LOC = W5;
NET "adcQL1Sdio" LOC = Y10;
NET "adcI2_n<4>" LOC = AE18;
NET "adcQH1_p<2>" LOC = AA9;
NET "adcQL1_n<0>" LOC = AE13;
NET "adcQ2_p<6>" LOC = AB2;
NET "wrUsb" LOC = G12;
NET "free_n" LOC = AA17;
NET "adcQ3_p<4>" LOC = V3;
NET "free_p" LOC = AA18;
NET "adcI2_n<5>" LOC = V19;
NET "adcQH1_p<3>" LOC = W8;
NET "adcQL1_n<1>" LOC = AC13;
NET "ckAdcQ3_n" LOC = AA2;
NET "adcQ2Sclk" LOC = AD1;
NET "ckAdcQH1_n" LOC = AD9;
NET "ckAdcQ3_p" LOC = AA3;
NET "adcQ3_p<5>" LOC = W4;
NET "riserv_n<0>" LOC = A20;
NET "adcI2_n<6>" LOC = AB17;
NET "ckAdcQH1_p" LOC = AC9;
NET "adcQH1_p<4>" LOC = AA7;
NET "adcQL1_n<2>" LOC = AA13;
NET "riserv_n<1>" LOC = B21;
NET "adcQ3_p<6>" LOC = U1;
NET "adcQH1_p<5>" LOC = Y7;
NET "adcQL1_n<3>" LOC = Y13;
NET "adcQL1Rst_n" LOC = AE12;
NET "riserv_n<2>" LOC = C26;
NET "adcQH1_p<6>" LOC = AE7;
NET "adcQL1_n<4>" LOC = AD11;
NET "adcQ2Sdio" LOC = AB1;
NET "riserv_n<3>" LOC = D25;
NET "adcQL1_n<5>" LOC = V11;
NET "riserv_n<4>" LOC = E26;
NET "adcQL1_n<6>" LOC = AD10;
NET "riserv_n<5>" LOC = F24;
NET "riserv_n<6>" LOC = G21;
NET "riserv_n<7>" LOC = H26;
NET "sdi_n" LOC = N24;
NET "ledVerte" LOC = C11;
NET "adcI1Sclk" LOC = AF14;
NET "sdi_p" LOC = P24;
NET "adcQ2Sdo" LOC = AC1;
NET "sdi_L_n" LOC = L24;
NET "galIO<0>" LOC = C18;
NET "sdi_L_p" LOC = M24;
NET "syncZer" LOC = Y23;
NET "galIO<1>" LOC = A18;
NET "adcI1Sdio" LOC = AB14;
NET "galIO<2>" LOC = C17;
NET "galIO<3>" LOC = B17;
NET "lWaitIn" LOC = W25;
NET "galIO<4>" LOC = A17;
NET "galIO<5>" LOC = C16;
NET "ioFpga_4" LOC = AA25;
NET "ioFpga_5" LOC = AB25;
NET "ioFpga_6" LOC = AB26;
NET "ioFpga_7" LOC = AC26;
NET "galIO<6>" LOC = B16;
NET "ioFpga_8" LOC = AD26;
NET "ioFpga_9" LOC = AE26;
NET "galIO<7>" LOC = B15;
NET "galIO<8>" LOC = A15;
NET "galIO<9>" LOC = C14;
NET "adcQ2_n<0>" LOC = AF2;
NET "glt" LOC = AA24;
NET "adcQ2_n<1>" LOC = AF4;
NET "alignOut" LOC = W20;
NET "ioFpga_10" LOC = V26;
NET "adcI2Sdo" LOC = Y18;
NET "ioFpga_11" LOC = L19;
NET "ckAdcQL1_n" LOC = AC11;
NET "ioFpga_12" LOC = L20;
NET "resetIn" LOC = K18;
NET "adcQ2_n<2>" LOC = AD4;
NET "ckAdcQL1_p" LOC = AB11;
NET "ioFpga_13" LOC = M16;
NET "ioFpga_14" LOC = M17;
NET "ioFpga_20" LOC = D19;
NET "ioFpga_15" LOC = E20;
NET "ckAdcI1_n" LOC = AC16;
NET "adcQ3_n<0>" LOC = AB5;
NET "adcQH1Sdo" LOC = AF8;
NET "ioFpga_21" LOC = G20;
NET "ioFpga_22" LOC = D18;
NET "ioFpga_17" LOC = G19;
NET "ckAdcI1_p" LOC = AB16;
NET "adcQ2_n<3>" LOC = AE3;
NET "ioFpga_18" LOC = C9;
NET "ioFpga_19" LOC = D20;
NET "ucSpiSs_n" LOC = J19;
NET "adcQ3_n<1>" LOC = Y6;
NET "adcQH1_n<0>" LOC = AF10;
NET "adcQ2_n<4>" LOC = AC4;
NET "adcQ3_n<2>" LOC = Y3;
NET "adcQH1_n<1>" LOC = W10;
NET "adcQ2_n<5>" LOC = AD6;
NET "adcQ3Cs_n" LOC = Y1;
NET "adcQ3_n<3>" LOC = W6;
NET "adcQH1_n<2>" LOC = AB9;
NET "adcQ2_n<6>" LOC = AC2;
NET "adcQ3_n<4>" LOC = W3;
NET "adcQH1_n<3>" LOC = V9;
NET "ckAdcI2_n" LOC = AD18;
NET "adcQ3_n<5>" LOC = V4;
NET "adcQH1_n<4>" LOC = AA8;
NET "ckAdcI2_p" LOC = AC18;
NET "adcQ3_n<6>" LOC = U2;
NET "adcQH1_n<5>" LOC = Y8;
NET "adcQH1_n<6>" LOC = AF7;
NET "idFpga" LOC = D10;
NET "ledBleue" LOC = C12;
NET "adjust1" LOC = A8;
NET "adjust2" LOC = B9;
NET "adjust3" LOC = A9;
NET "aVersB_0" LOC = T25;
NET "aVersB_1" LOC = U25;
NET "adcQ3Sdo" LOC = V1;
NET "adcI2Cs_n" LOC = W19;
NET "aVersB_2" LOC = U26;
NET "aVersB_3" LOC = V24;
NET "aux_0" LOC = C19;
NET "aux_1" LOC = B19;
NET "aux_2" LOC = A19;
NET "sdo_n" LOC = N23;
NET "sdo_p" LOC = P23;
NET "sdo_H_n" LOC = P21;
NET "sdo_H_p" LOC = R21;
NET "adcQH1Cs_n" LOC = AC8;
NET "adcI1_p<0>" LOC = AE16;
NET "adcI1_p<1>" LOC = V16;
NET "adcI1_p<2>" LOC = Y15;
NET "adcI2_p<0>" LOC = AE20;
NET "adcI1_p<3>" LOC = W15;
NET "adcI2_p<1>" LOC = AB19;
NET "adcI1_p<4>" LOC = AD15;
NET "adcI2_p<2>" LOC = AA19;
NET "blkBusyIn" LOC = Y26;
NET "adcI1_p<5>" LOC = AA14;
NET "ucSpiSck" LOC = K17;
NET "adcQ3Sclk" LOC = W1;
NET "adcI2_p<3>" LOC = AD19;
NET "ucSpiSdi" LOC = K20;
NET "adcI1_p<6>" LOC = AC14;
NET "adcI2_p<4>" LOC = AF18;
NET "adcQL1_p<0>" LOC = AF13;
NET "ucSpiSdo" LOC = J20;
NET "adcI2_p<5>" LOC = V18;
NET "adcQL1_p<1>" LOC = AD13;
NET "adcQ3Sdio" LOC = V2;
NET "clk25MHz_n" LOC = F23;
NET "riserv_p<0>" LOC = B20;
NET "clk25MHz_p" LOC = G22;
NET "adcI2_p<6>" LOC = AC17;
NET "adcQL1_p<2>" LOC = AA12;
NET "lt" LOC = AF25;
NET "riserv_p<1>" LOC = C21;
NET "adcQL1_p<3>" LOC = Y12;
NET "adcQL1Cs_n" LOC = AC12;
NET "riserv_p<2>" LOC = D26;
NET "ledJaune" LOC = B12;
NET "adcQL1_p<4>" LOC = AE11;
NET "rdUsb_n" LOC = H12;
NET "riserv_p<3>" LOC = E25;
NET "adcQL1_p<5>" LOC = W11;
NET "riserv_p<4>" LOC = F25;
NET "adcQL1_p<6>" LOC = AE10;
NET "riserv_p<5>" LOC = G24;
NET "dataUsb<0>" LOC = E11;
NET "riserv_p<6>" LOC = H21;
NET "adcQ2Cs_n" LOC = AE1;
NET "adcQL1Sdo" LOC = AB12;
NET "dataUsb<1>" LOC = H11;
NET "adcI2Sclk" LOC = AF19;
NET "riserv_p<7>" LOC = J26;
NET "dataUsb<2>" LOC = E10;
NET "rxf_n" LOC = J14;
NET "dataUsb<3>" LOC = G10;
NET "dataUsb<4>" LOC = D9;
NET "adcI2Sdio" LOC = AF17;
NET "dataUsb<5>" LOC = F9;
NET "sdo_L_n" LOC = L25;
NET "sdo_L_p" LOC = M25;
NET "dataUsb<6>" LOC = D8;
NET "dataUsb<7>" LOC = F8;
NET "adcQH1Sclk" LOC = AD8;
NET "lWaitOut" LOC = W26;
NET "dacSda" LOC = B10;
NET "sysClk_n" LOC = E23;
NET "adcQH1Sdio" LOC = AE8;
NET "sysClk_p" LOC = F22;
NET "adcI1Cs_n" LOC = AF15;
NET "dacScl" LOC = A10;
NET "alignIn" LOC = W21;
NET "sdi_H_n" LOC = P18;
NET "sdi_H_p" LOC = R18;
NET "adcI1_n<0>" LOC = AD16;
NET "txe_n" LOC = J13;
NET "galIO<10>" LOC = B14;
NET "blkBusyOut" LOC = Y25;
NET "adcQ2_p<0>" LOC = AF3;
NET "adcI1_n<1>" LOC = V17;
NET "galIO<11>" LOC = A14;
NET "adcQ2_p<1>" LOC = AF5;
NET "adcI1_n<2>" LOC = Y16;
NET "galIO<12>" LOC = A13;
NET "adcI2_n<0>" LOC = AD20;
NET "galClk" LOC = A12;
NET "ckAdcQ2_n" LOC = AB4;
NET "adcI1_n<3>" LOC = W16;
NET "adcQ2_p<2>" LOC = AD3;
NET "ledRouge" LOC = B11;
NET "galIO<13>" LOC = C13;
NET "ckAdcQ2_p" LOC = AA4;
NET "adcQ3_p<0>" LOC = AA5;
NET "adcI1Rst_n" LOC = AE17;
NET "adcI2_n<1>" LOC = AB20;
NET "adcQL1Sclk" LOC = AF12;
NET "adcI1_n<4>" LOC = AE15;
NET "adcQ2_p<3>" LOC = AE2;
NET "adcQ3_p<1>" LOC = Y5;
NET "adcI2_n<2>" LOC = AA20;
NET "adcQH1_p<0>" LOC = AF9;
NET "adcQ2_p<4>" LOC = AC3;
NET "adcI1_n<5>" LOC = AA15;
NET "adcI1Sdo" LOC = AB15;
